* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgba(12, 6, 21);
  max-width: 1600px;
  margin: 0 auto;
}

/* Common Header Text Color */
.common-header-text-style {
  font-size: 48px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

/* Common Button Animation Starts Here */
/* .nav-btn:hover {
  transform: scale(1.15);
  background-color: tomato;
  transition-delay: 1s;
  box-shadow: ;
} */

/* Common Button Animation Ends Here */

/* Navbar desing starts here */

header {
  width: 100%;

  background-color: rgb(54, 5, 122);
  border-bottom: 3px solid rgba(65, 37, 103, 1);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1200px;
  height: 92px;
  /* border: 1px solid red; */
  margin: 0 auto;
  background-color: rgb(54, 5, 122);
}
ul {
  display: flex;
  gap: 20px;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: white;
}

h2 {
  color: white;
}

.nav-btn {
  border-radius: 10000px;
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );

  padding: 12px 16px;
  color: white;
  font-size: 16px;

  height: 44px;
  width: 135px;
  border: none;
}

.wave-text {
  color: red;
  /* color: rgba(247, 233, 63, 1) rgba(251, 9, 180, 1) rgba(145, 0, 248, 1); */
}
/* Navbar desing ends here */

/* Banner Section Design Starts Here */
.banner-container {
  background-image: url(./assets/hero-bg.png);
  width: 1600px;
  height: 760px;
}

.banner-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-details img {
  width: 350px;
  height: 350px;

  margin-top: 101px;
}
.banner-details > h2 {
  font-size: 60px;
  margin-top: 40px;
  color: rgba(255, 255, 255, 1);
}

.banner-details > p {
  color: white;
  margin-bottom: 24px;
}

.banner-btn-1 {
  border-radius: 10000px;
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );

  padding: 12px 16px;
  color: white;
  font-size: 16px;

  height: 44px;
  width: 201px;
  border: none;
}

.banner-btn-2 {
  border: 2px solid green;
  border-radius: 10000px;
  color: green;
  font-weight: 600;

  height: 44px;
  width: 147px;
  margin-left: 4px;
  background-color: transparent;
  transition: transform 2s;
}

.hero-circle {
  position: relative;
}

.banner-circle-container > p {
  background-color: rgb(68, 255, 68);
  display: inline;
  padding: 5px;
  border-radius: 10px;
}

/* Banner Section Design Ends Here */

/* About The Podcast Section Stars Here */
.about-podcast-main-container {
  max-width: 1600px;
  background: rgba(61, 8, 115, 0.686);
}

.about-podcast-container {
  /* border: 2px solid red; */
  max-width: 1200px;
  height: 650px;

  margin: 0 auto;

  /* margin: 80px auto;
  text-align: center; */
}
.podcast-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 1200px;
  height: 650px; */
  gap: 16px;
  text-align: center;
}
.p-1 {
  color: white;
  line-height: 30px;
}

.podcast-header {
  margin-top: 50px;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.081);
  width: 1200px;
  margin: 80px 0px;
}
.podcast-card-container {
  text-align: center;
}
.podcast-card-h2 {
  color: rgba(0, 255, 138, 1);
  font-size: 48px;
  font-weight: 900;
}

.podcast-card-p {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-size: 16px;
}

.about-podcast-card-container {
  max-width: 1200px;
  height: 94px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* About The Podcast Section Ends Here */

/* Why Choose TechWave Section Starts Here  */

.why-techwave-main-container {
  max-width: 1600px;
  background: rgba(35, 14, 61, 1);
}
.card-h3 {
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-weight: 700;
}
.card-p {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
}

.techwave-card {
  border-radius: 40px;
  background: rgba(148, 69, 252, 0.4);
  padding: 40px;
}

.why-techwave-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;

  max-width: 1200px;
  margin: 0 auto;

  padding-bottom: 120px;
}

.card-1 {
  grid-row: span 2;
}
.card-2 {
  grid-column: span 2;
}
.card-3 {
  grid-column: span 2;
}
.card-4 {
  grid-column: span 2;
}

.why-techwave-header {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 40px;

  font-size: 48px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}
/* Why Choose TechWave Section Ends Here  */
