* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(12, 6, 21);
  max-width: 1600px;
  margin: 0 auto;
}

/* Common Header Text Color */
.common-header-text-color {
  color: rgba(255, 255, 255, 1);
}

/* Common Button Animation Starts Here */
/* .nav-btn:hover {
  transform: scale(1.15);
  background-color: tomato;
  transition-delay: 1s;
  box-shadow: ;
} */

/* Common Button Animation Ends Here */

/* Navbar desing starts here */

header {
  width: 100%;

  background-color: rgb(54, 5, 122);
  border-bottom: 3px solid rgba(65, 37, 103, 1);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1200px;
  height: 92px;
  /* border: 1px solid red; */
  margin: 0 auto;
  background-color: rgb(54, 5, 122);
}
ul {
  display: flex;
  gap: 20px;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: white;
}

h2 {
  color: white;
}

.nav-btn {
  border-radius: 10000px;
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );

  padding: 12px 16px;
  color: white;
  font-size: 16px;

  height: 44px;
  width: 135px;
  border: none;
}

.wave-text {
  color: red;
  /* color: rgba(247, 233, 63, 1) rgba(251, 9, 180, 1) rgba(145, 0, 248, 1); */
}
/* Navbar desing ends here */

/* Banner Section Design Starts Here */
.banner-container {
  background-image: url(./assets/hero-bg.png);
  width: 1600px;
  height: 760px;
}

.banner-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-details img {
  width: 350px;
  height: 350px;

  margin-top: 101px;
}
.banner-details > h2 {
  font-size: 60px;
  margin-top: 40px;
}

.banner-details > p {
  color: white;
  margin-bottom: 24px;
}

.banner-btn-1 {
  border-radius: 10000px;
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );

  padding: 12px 16px;
  color: white;
  font-size: 16px;

  height: 44px;
  width: 201px;
  border: none;
}

.banner-btn-2 {
  border: 2px solid green;
  border-radius: 10000px;
  color: green;
  font-weight: 600;

  height: 44px;
  width: 147px;
  margin-left: 4px;
  background-color: transparent;
  transition: transform 2s;
}

.hero-circle {
  position: relative;
}

.banner-circle-container > p {
  background-color: rgb(68, 255, 68);
  display: inline;
  padding: 5px;
  border-radius: 10px;
}

/* Banner Section Design Ends Here */
