* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgba(12, 6, 21);

  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  overflow-x: hidden;
}

/* Common Header Text Color */
.common-header-text-style {
  font-size: 48px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

/* Common Border Animation Starts Here */

.magic-border {
  border: 3px solid #00ff88;
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;
  animation: border-color-change 4s infinite linear;
}

@keyframes border-color-change {
  0% {
    border-color: #00ff88;
    box-shadow: 0 0 10px #00ff88;
  }
  25% {
    border-color: #f7e93f;
    box-shadow: 0 0 10px #f7e93f;
  }
  50% {
    border-color: #fb09b4;
    box-shadow: 0 0 10px #fb09b4;
  }
  75% {
    border-color: #9100f8;
    box-shadow: 0 0 10px #9100f8;
  }
  100% {
    border-color: #00ff88;
    box-shadow: 0 0 10px #00ff88;
  }
}

.magic-border:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

/* .nav-btn:hover {
  transform: scale(1.15);
  background-color: tomato;
  transition-delay: 1s;
  box-shadow: ;
} */

/* Common Button Animation Ends Here */
.common-padding-for-main-content-container {
  padding: 0 10px;
}

/* Navbar desing starts here */
header {
  background-color: rgb(54, 5, 122);
  border-bottom: 3px solid rgba(65, 37, 103, 1);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1200px;
  /* max-width: 80%; */
  height: 92px;
  /* border: 1px solid red; */
  margin: 0 auto;
  background-color: rgb(54, 5, 122);
  padding: 0 20px;
}
ul {
  display: flex;
  gap: 20px;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: white;
}

h2 {
  color: white;
}

.nav-btn {
  border-radius: 10000px;
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );

  padding: 12px 16px;
  color: white;
  font-size: 16px;

  height: 44px;
  width: 135px;
  border: none;
}

.display-none-for-long-device {
  display: none;
}
/* Navbar desing ends here */

/* Banner Section Design Starts Here */
.banner-container {
  background-image: url(./assets/hero-bg.png);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  overflow-x: hidden;

  height: 760px;
}

.banner-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-circle-container {
  position: relative;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 101px;
  border-radius: 50%;
}

.hero-circle {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero-microphone {
  position: absolute;
  width: 180px;
  height: auto;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.banner-details > h2 {
  font-size: 60px;
  margin-top: 40px;
  color: rgba(255, 255, 255, 1);
}

.banner-details > p {
  color: white;
  margin-bottom: 24px;
}

.banner-btn-1 {
  border-radius: 10000px;
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );

  padding: 12px 16px;
  color: white;
  font-size: 16px;

  height: 44px;
  width: 201px;
  border: none;
}
.banner-btn-1:hover {
  filter: brightness(1.2);
  transform: translateY(-3px);
}

.banner-btn-2 {
  border: 2px solid green;
  border-radius: 10000px;
  color: green;
  font-weight: 600;

  height: 44px;
  width: 147px;
  margin-left: 4px;
  background-color: transparent;
  transition: transform 2s;
}

.banner-circle-container {
  position: relative;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-circle {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero-microphone {
  position: absolute;
  width: 100px;
  height: 100;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new-tag {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #00ff88;
  padding: 5px 10px;
  border-radius: 10000px;
  /* border-radius: 10px; */
}
/* Banner Section Design Ends Here */

/* About The Podcast Section Stars Here */
.about-podcast-main-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  overflow-x: hidden;

  background: rgba(61, 8, 115, 0.686);
}

.about-podcast-container {
  /* border: 2px solid red; */
  /* width: 90%; */
  max-width: 1200px;

  margin: 0 auto;
  padding-bottom: 120px;
}
.podcast-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 1200px;
  height: 650px; */
  gap: 16px;
  text-align: center;
}
.p-1 {
  color: white;
  line-height: 30px;
}

.podcast-header {
  margin-top: 50px;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.081);
  /* border: 1px solid rgb(255, 3, 3); */
  width: 1200px;
  /* max-width: 80%; */
  margin: 80px 0px;
}
.podcast-card-container {
  text-align: center;
}
.podcast-card-h2 {
  color: rgba(0, 255, 138, 1);
  font-size: 48px;
  font-weight: 900;
}

.podcast-card-p {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-size: 16px;
}

.about-podcast-card-container {
  max-width: 1200px;
  /* max-width: 80%; */
  height: 94px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* About The Podcast Section Ends Here */

/* Why Choose TechWave Section Starts Here  */
.why-techwave-main-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  overflow-x: hidden;

  background: rgba(35, 14, 61, 1);
}
.card-h3 {
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-weight: 700;
}
.card-p {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
}

.techwave-card {
  border-radius: 40px;
  background: rgba(75, 32, 131, 0.4);
  padding: 40px;
}

.why-techwave-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;

  max-width: 1200px;
  /* max-width: 80%; */
  margin: 0 auto;

  padding-bottom: 120px;
}

.card-1 {
  grid-row: span 2;
}
.card-2 {
  grid-column: span 2;
}
.card-3 {
  grid-column: span 2;
}
.card-4 {
  grid-column: span 2;
}

.why-techwave-header {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 40px;

  font-size: 48px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}
/* Why Choose TechWave Section ENDS Here  */

/* Featured Episodes and Meet the host section STARTS here */
.featured-episodes-and-meet-the-host-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  overflow-x: hidden;

  /* background: rgba(0, 0, 0, 0.899); */
  background: rgba(35, 14, 61, 0.608);
}

.featured-episodes-main-container {
  max-width: 1200px;
  /* max-width: 80%; */
  margin: 0 auto;
  /* border: 1px solid red; */
  padding-top: 120px;
  padding-bottom: 120px;
}

.featured-header-h2,
.meet-the-header-h2 {
  font-size: 48px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-bottom: 40px;
}
.featured-card-h3 {
  font-size: 24px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  padding-bottom: 12px;
}

.featured-card-p-1 {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.612);
  text-align: left;
  padding-bottom: 12px;
  line-height: 24px;
}

.featured-card-p-2 {
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 255, 136, 1);
  text-align: left;
  padding-bottom: 12px;
  line-height: 24px;
}

.featured-card-container {
  /* border: 1px solid rgb(18, 64, 179); */
  border: 1px solid rgba(86, 20, 171, 0.899);
  /* background: rgba(86, 20, 171, 0.899); */
  width: 30%;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  height: auto;
}

.featured-card-details-container {
  padding: 24px;
  background: rgba(37, 13, 68, 1);
  border-radius: 0px 0px 24px 24px;
  flex-grow: 1;
}

iframe {
  border: none;
  border-radius: 24px 24px 0px 0px;
}

.meet-the-host-main-container {
  max-width: 1200px;
  /* max-width: 80%; */
  margin: 0 auto;
  /* border: 1px solid red; */
  /* padding-top: 120px; */
  padding-bottom: 120px;
}
.featured-card-main-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  align-items: stretch;
}

.meet-host-card-container {
  /* border: 1px solid red; */
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 40px;

  background: rgba(34, 9, 67, 0.899);
  border-radius: 40px;
}

.host-details-h3 {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.host-details-p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.612);
  text-align: left;
  padding-bottom: 12px;
  line-height: 24px;
  margin: 16px 0px;
}

.host-social-media-container {
  display: flex;
  gap: 10px;
}

.host-social-media-container img {
  width: 20px;
  height: 20px;
}

.host-social-media-img {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.499);
  border-radius: 100000px;
}

/* Featured Episodes and Meet the host section ends here */

/* Footer starts from here */
footer {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  overflow-x: hidden;

  height: 412px;
  background: rgba(0, 0, 0, 0.899);
  background: url(./assets/footer-bg.png);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  height: 412px;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.footer-social-media {
  margin-top: 30px;
  padding-bottom: 30px;
}
.footer-social-media ul li {
  /* border: 1px solid red; */
  list-style: none;
  padding: 10px 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright-text {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
}
/* Footer ends from here */

/* Responsive Design For Small Device Starts Here */
@media screen and (max-width: 576px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  /* Responsive Navbar Design Starts Here */
  .nav-container {
    padding: 10px 20px;
    height: auto;
    width: 100%;
  }

  .nav-link-container ul,
  .nav-btn {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
    cursor: pointer;
    color: white;
    font-size: 28px;
  }

  /* Responsive Banner Design Starts Here */
  .banner-container {
    width: 100%;
    height: auto;
    padding-bottom: 60px;
    background-size: cover;
  }

  .banner-circle-container {
    width: 260px;
    height: 260px;
    margin-top: 50px;
  }

  .hero-microphone {
    width: 120px;
  }

  .banner-details > h2 {
    font-size: 36px;
    text-align: center;
    padding: 0 10px;
  }

  .banner-details > p {
    text-align: center;
    padding: 0 20px;
    font-size: 14px;
  }
  /* Responsive Banner Design Ends Here */

  .about-podcast-container,
  .why-techwave-card-container,
  .featured-episodes-main-container,
  .meet-the-host-main-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }

  hr {
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
  }

  /* Responsive: About the podcast section STARTS here */
  .about-podcast-card-container {
    flex-direction: column;
    height: auto;
    gap: 30px;
    margin-top: 40px;
  }

  hr {
    width: 90%;
    margin: 40px auto;
  }

  .about-podcast-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  /* Responsive: About the podcast section ENDS here */

  /* Responsive: Why Choose TechWave Section STARTS Here  */

  .why-techwave-card-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 90%;
    padding-bottom: 60px;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    grid-column: span 1 !important;
    grid-row: span 1 !important;
  }
  /* Responsive: Why Choose TechWave Section ENDS Here  */

  /* Responsive: Featured Episodes section STARTS here */
  .featured-card-main-container {
    flex-direction: column;
    align-items: center;
  }

  .featured-card-container {
    width: 90%;
    margin: 15px 0px;
  }

  .featured-episodes-main-container {
    padding-bottom: 0px;
  }
  /* Featured Episodes section ENDS here */

  /* Responsive: Meet the host section STARTS here */

  .meet-the-host-main-container {
    padding-top: 120px;
  }
  .meet-host-card-container {
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: 30px 10px 30px 10px;
  }

  .host-details-h3,
  .host-details-p {
    text-align: center;
  }

  .host-social-media-container {
    justify-content: center;
  }
  /* Responsive: Meet the host section ENDS here */

  /* Responsive: Footer section STARTS here */
  footer {
    height: auto;
    padding: 40px 0;
  }

  .footer-container {
    height: auto;
  }

  .footer-social-media ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;
  }

  .footer-container h2 > img {
    margin-bottom: -10px;
  }
  /* Responsive: Footer section ENDS here */

  /* common header text */
  .common-header-text-style,
  .featured-header-h2,
  .why-techwave-header {
    font-size: 32px !important;
  }
}
/* Responsive Design For Small Device Ends Here */
